<div class="row">
    <div class="col-1">
        {{index}}.
    </div>
    <div class="col-4">
        {{input type="text" placeholder="Name" value=name}}
    </div>
    <div class="col-2">
        {{input type="number" placeholder="$ Price" value=price}}
    </div>

    <div class="col-1">
        {{fa-icon "trash" click=(action "deleteData")}}
    </div>
</div>
<div class="row">
    <div class="col-1">
    </div>

    <div class="col-4">
        {{input type="text" placeholder="Description" value=description}}
    </div>
</div>