<div class="restaurant-tile-container">
    {{#link-to 'restaurant' restaurant.id}}
        <img class="image-fluid restaurant-logo" src="{{restaurant.imageFileName}}">
        <h3 class="restaurant-tile-name">{{restaurant.restaurantName}}</h3>

        <p class="restaurant-tile-rating">{{star-rating rating=restaurant.mark}}
            <span class="restaurant-tile-votes-number">({{restaurant.votes}})</span>
            {{dollar-rating rating=restaurant.priceRange}}
        </p>
        <hr class="restaurant-tile-horizontal-line">
        <div class="landing-food-types">
            {{restaurant.foodType}}
        </div>
    {{/link-to}}
    <button type="button" class="restaurant-tile-button btn-block btn">Reserve Now</button>
</div>