<div class="search-bar-form">
    <form class="" {{action 'findTables' on='submit' }}>
        {{#if textSearch}}
            {{input value=query type=text class="find-table-textfield" placeholder=fontAwesomePlaceHolder}}
        {{/if}}
        <select class="find-table-field" onchange={{action 'setNumberOfPeople' value="target.value"}}>>
            <option value="2" selected>2 people</option>
            <option value="3">3 people</option>
            <option value="4">4 people</option>
            <option value="5">5 people</option>
            <option value="6">6 people</option>
        </select>

        {{input class="find-table-field" type="date" min=(current-date) value=date}} 
        
        {{input class="find-table-field" type="time" value=time}}

        <button class="btn-block find-table-button">
            {{#if loading}}
                <span class='fa fa-circle-o-notch fa-spin'></span> Find a table
            {{else}}
                Find a table
            {{/if}}
            
        </button>
    </form>
</div>