<span class="star-rating">
    
    {{fa-icon "star" class=oneStar}}
    {{fa-icon "star" class=twoStar}}
    {{fa-icon "star" class=threeStar}}
    {{fa-icon "star" class=fourStar}}
    {{fa-icon "star" class=fiveStar}}
    
    
</span>