{{header-component user=model.currentUser}}
<div class="container">
    <div class="row">
        <div class="col-md complete-reservation-title">
            <h1>Complete your reservation</h1>
        </div>
    </div>

    <div class="row single-restaurant-content-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md">
                    <div class="single-restaurant-content-label">Reservation Details</div>
                </div>
            
                <div class="col-md-5">
                    {{#if isValid}}
                        <span class="complete-reservation-counter fa fa-clock-o" > You have {{countdown-string startDate=goal endDate=start}} to complete reservation</span>
                    {{else}}
                        <span class="complete-reservation-counter">Reservation expired</span>
                    {{/if}}
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-2">
                    <img class="img-fluid complete-reservation-image" src="{{model.restaurant.imageFileName}}" alt="single restaurant img">
                </div>

                
                <div class="col-md complete-reservation-details">
                    <h1 class="complete-reservation-details-label">RESTAURANT</h1>
                    <h1 class="complete-reservation-details-name">{{model.restaurant.restaurantName}}</h1>

                    <table class="complete-reservation-details-table">
                        <tr>
                            <td>
                                <h1 class="complete-reservation-details-label">GUESTS</h1>
                                <p class="complete-reservation-detail">{{model.reservation.persons}}</p>
                            </td>
                            <td>
                                <h1 class="complete-reservation-details-label">DATE</h1>
                                <p class="complete-reservation-detail">{{format-date model.reservation.reservationDateTime}}</p>
                            </td>
                            <td>
                                <h1 class="complete-reservation-details-label">TIME</h1>
                                <p class="complete-reservation-detail">{{format-time model.reservation.reservationDateTime}}</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-md">

        </div>

        <div class="col-md-3">
            {{#if model.currentUser}}
                <button {{action "completeReservation" model.reservation.id}} class="btn btn-block complete-reservation-button" >Complete Reservation</button>
            {{else}}
                <div class="complete-reservation-message">
                    <div>To make reservation you have to be logged in.</div>
                    
                        {{#link-to 'register' class="complete-reservation-message-link"}}Create account{{/link-to}} or 
                        {{#link-to 'login' (query-params reservation=model.reservation.id restaurant=model.restaurant.id) class="complete-reservation-message-link"}}Sign in{{/link-to}}
                    
                </div>
                
            {{/if}}
        </div>

        <div class="col-md">

        </div>
    </div>

</div>
