{{header-component}}

<div class="container create-acc-container">
  <form class="form-horizontal" {{action 'register' on='submit'}}>
    <div class="row">
      <div class="col-4">

      </div>
      <div class="col-md-3">
          <legend class="create-acc-label">Create Account</legend>
      </div>
      <div class="col-md-1">
          {{#link-to 'login' class="create-acc-login-link"}}Login{{/link-to}}
      </div>
      <div class="col-4">
          
        </div>
    </div>    
    
    <div class="row">
        <div class="col-4">
            
        </div>
      <div class="col-md-4">
        {{#if loginErrors}}
        <p class="form-error-text">Registration was not successfull</p>
        {{/if}}
        <div class="form-group">
          {{input id="first-name" type="text" placeholder="First Name" class="form-control input-md create-acc-input" value=firstName required="This field is required"}} 
        </div>
      </div>
      <div class="col-4">
          
      </div>
    </div> 

    <div class="row">
        <div class="col-4">
            
        </div>
      <div class="col-md-4">
        <div class="form-group">
            {{input id="last-name" type="text" placeholder="Last Name" class="form-control input-md create-acc-input" value=lastName required="This field is required"}}
        </div>
      </div>
      <div class="col-4">
          
      </div>
    </div>
    
    <div class="row">
        <div class="col-4">
            
        </div>
      <div class="col-md-4">
        <div class="form-group">
            {{input id="email" type="text" placeholder="Email" class="form-control input-md create-acc-input" value=email required="This field is required"}}
        </div>
      </div>
      <div class="col-4">
          
      </div>
    </div>

    <div class="row">
        <div class="col-4">
            
        </div>
      <div class="col-md-4">
        <div class="form-group">
            {{input id="phone" type="text" placeholder="Phone Number" class="form-control input-md create-acc-input" value=phone required="This field is required"}}
        </div>
      </div>
      <div class="col-4">
          
      </div>
    </div>

    <div class="row">
        <div class="col-4">
            
        </div>
      <div class="col-md-2 create-acc-dropdown-left-col">
        <div class="form-group">
            <select id="country" class="form-control create-acc-input create-acc-dropdown" onchange={{action "updateCountryValue" value="target.value"}}>
              {{#each model.uniqueCountries as |location|}}
  
                  <option>{{location}}</option>
          
              {{/each}}
            </select>
        </div>
      </div>
      <div class="col-md-2 create-acc-dropdown-right-col">
          <select id="city" class="form-control create-acc-input create-acc-dropdown" onchange={{action "updateCityValue" value="target.value"}}>
              {{#each model.locations as |location|}}
                <option>{{location.city}}</option>
              {{/each}}
            </select>
      </div>
      <div class="col-4">
          
      </div>
    </div>

    <div class="row">
        <div class="col-4">
            
        </div>
      <div class="col-md-4">
        <div class="form-group">
            {{input id="password" type="password" placeholder="Password" class="form-control input-md create-acc-input" value=password required="This field is required"}}
        </div>
      </div>
      <div class="col-4">
          
      </div>
    </div>

    <div class="row">
        <div class="col-4">
            
        </div>
      <div class="col-md-4">
        <div class="form-group">
            {{input id="confirm-password" type="password" placeholder="Confirm Password" class="form-control input-md create-acc-input" value=confirmPassword required="This field is required"}}
        </div>
      </div>
      <div class="col-4">
          
      </div>
    </div>

    <div class="row">
        <div class="col-4">
            
        </div>
      <div class="col-md-4">
        <div class="form-group">

            <button id="signup" name="signup" class="btn create-acc-submit btn-block">Create Account</button>
        </div>
      </div>
      <div class="col-4">
          
      </div>
    </div>
  </form>      
</div>
