{{header-component}}

<div class="container create-acc-container">
  <form class="form-horizontal" {{action 'register' on='submit'}}>
    <div class="row">
      <div class="col-4">

      </div>
      <div class="col-md-3">
          <legend class="create-acc-label">Create Account</legend>
      </div>
      <div class="col-md-1">
          {{#link-to 'login' class="create-acc-login-link"}}Login{{/link-to}}
      </div>
      <div class="col-4">
          
        </div>
    </div>    
    
    <div class="row">
        <div class="col-4">
            
        </div>
      <div class="col-md-4">
        {{#if loginErrors}}
        <p class="form-error-text">Registration was not successfull</p>
        {{/if}}
        <div class="form-group">
          {{input id="first-name" type="text" placeholder="First Name" class="form-control input-md create-acc-input" value=firstName}} 
        </div>
      </div>
      <div class="col-4">
          
      </div>
    </div> 

    <div class="row">
        <div class="col-4">
            
        </div>
      <div class="col-md-4">
        <div class="form-group">
            {{input id="last-name" type="text" placeholder="Last Name" class="form-control input-md create-acc-input" value=lastName}}
        </div>
      </div>
      <div class="col-4">
          
      </div>
    </div>
    
    <div class="row">
        <div class="col-4">
            
        </div>
      <div class="col-md-4">
        <div class="form-group">
            {{input id="email" type="text" placeholder="Email" class="form-control input-md create-acc-input" value=email}}
        </div>
      </div>
      <div class="col-4">
          
      </div>
    </div>

    <div class="row">
        <div class="col-4">
            
        </div>
      <div class="col-md-4">
        <div class="form-group">
            {{input id="phone" type="text" placeholder="Phone Number" class="form-control input-md create-acc-input" value=phone}}
        </div>
      </div>
      <div class="col-4">
          
      </div>
    </div>

    <div class="row">
        <div class="col-4">
            
        </div>
      <div class="col-md-2 create-acc-dropdown-left-col">
        <div class="form-group">
            <select id="country" class="form-control create-acc-input create-acc-dropdown" onchange={{action "updateCountryValue" value="target.value"}}>
                <option value="0" selected>Bosnia and Herzegovina</option>
                <option value="1">A</option>
                <option value="2">B</option>
                <option value="3">C</option>
                <option value="4">D</option>
                <option value="5">E</option>
                <option value="6">F</option>
                <option value="7">G</option>
            </select>
        </div>
      </div>
      <div class="col-md-2 create-acc-dropdown-right-col">
          <select id="city" class="form-control create-acc-input create-acc-dropdown" onchange={{action "updateCityValue" value="target.value"}}>
              <option value="0" selected>Sarajevo</option>
              <option value="1">A</option>
              <option value="2">B</option>
              <option value="3">C</option>
              <option value="4">D</option>
              <option value="5">E</option>
              <option value="6">F</option>
              <option value="7">G</option>
            </select>
      </div>
      <div class="col-4">
          
      </div>
    </div>

    <div class="row">
        <div class="col-4">
            
        </div>
      <div class="col-md-4">
        <div class="form-group">
            {{input id="password" type="password" placeholder="Password" class="form-control input-md create-acc-input" value=password}}
        </div>
      </div>
      <div class="col-4">
          
      </div>
    </div>

    <div class="row">
        <div class="col-4">
            
        </div>
      <div class="col-md-4">
        <div class="form-group">
            {{input id="confirm-password" type="password" placeholder="Confirm Password" class="form-control input-md create-acc-input" value=confirmPassword}}
        </div>
      </div>
      <div class="col-4">
          
      </div>
    </div>

    <div class="row">
        <div class="col-4">
            
        </div>
      <div class="col-md-4">
        <div class="form-group">

            <button id="signup" name="signup" class="btn create-acc-submit btn-block">Create Account</button>
        </div>
      </div>
      <div class="col-4">
          
      </div>
    </div>
  </form>      
</div>
