{{header-component restaurants=true user=model.currentUser}}
<div>
    <div class="container">
        <div class="row">
            <div class="col-md restaurant-searchbar-container">
                {{input type=text class="search-textfield" placeholder=fontAwesomePlaceHolder value=textQuery}}

                <div class="search-field dropdown">
                    <a href="#" data-toggle="dropdown">Sort By
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu sortby-filter">
                        <form>
                            <ul>
                                <li class="filter-checkbox">
                                    {{input type="radio" name="sortBy" id="byName" click=(action "sortBy" 'name' '#byName')}}
                                    <label for="byName">Name</label>
                                </li>
                                <li class="filter-checkbox">
                                    {{input type="radio" name="sortBy" id="byRating" click=(action "sortBy" 'rating' '#byRating')}}
                                    <label for="byRating">Rating</label>
                                </li>
                                <li class="filter-checkbox">
                                    {{input type="radio" name="sortBy" id="byPrice" click=(action "sortBy" 'priceRange' '#byPrice')}}
                                    <label for="byPrice">Price</label>
                                </li>
                            </ul>
                        </form>

                    </div>
                </div>

                <div class="search-field dropdown">
                    <a href="#" data-toggle="dropdown">Filter By
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu">

                        <form>
                            <div class="price-filter">
                                <label class="restaurant-filter-label" for="price">PRICE</label>
                                <div  id="price">
                                    {{rate-component price=true updateRating="priceFilter"}}
                                </div>
                            </div>
                            
                            <div class="rating-filter">
                                <label class="restaurant-filter-label" for="rating">RATING</label>
                                <div id="rating">
                                    {{rate-component rating=true updateRating="ratingFilter"}}
                                </div>
                            </div>
                            
                            {{cuisine-filter cuisines = model.restaurantCategories update = "updateCuisines"}}
                        </form>
                    </div>
                </div>

                <button class="btn-block search-button" {{action "updateSearchText"}}>
                    Search
                </button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {{#if model.restaurantsList}}
                {{#each model.restaurantsList as |restaurant|}}
                    <div class="col-md-4">
                        {{restaurant-tile restaurant=restaurant}}
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>

    {{#if model.popularLocations}}
    <div class="container landing-popular-locations">
        <div class="row">
            <div class="col-md">
                <div class="landing-popular-locations-label">Popular Locations</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 pagination-container">
                <ul class="pagination-list">
                    <li class="pagination-item">
                        <button {{action "previousPage"}}>PREVIOUS</button>
                    </li> 
                       
                    {{#each model.numberOfPages as |page index|}}
                        <li class="pagination-item">
                            <button class="{{if (equals-helper pageNumber (adition-helper index 1)) "selected" ""}}" {{action "updatePage" index}}>{{adition-helper index 1}}</button>
                        </li> 
                    {{/each}}

                    <li class="pagination-item">
                        <button {{action "nextPage"}}>NEXT</button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            {{#each model.popularLocations as |location|}}
            <div class="col-md-3">
                <div class="landing-popular-location-city">{{location.city}}</div>
                <div class="landing-popular-location-number">{{location.number}} restaurants</div>
            </div>
            {{/each}}
        </div>

    </div>
    {{/if}}
</div>