{{header-component home=true user=model.currentUser}}

<div class="col-md single-restaurant-header not-transparent">
    <img class="img-fluid" src="{{model.restaurant.coverFileName}}">
</div>
<div class="container single-restaurant-header-label">
    <div class="row">
        <div class="col-sm-3">
            <img class="img-fluid single-restaurant-logo" src="{{model.restaurant.imageFileName}}">
        </div>
        <div class="col-sm-9 single-restaurant-details">
            <div class="single-restaurant-name">{{model.restaurant.restaurantName}}</div>
            <div>
                <span>{{star-rating rating=model.restaurant.mark}}</span>
                <span class="single-restaurant-text">({{model.restaurant.votes}})</span>
                <span class="single-restaurant-price">{{dollar-rating rating=model.restaurant.priceRange}}</span>
                <span class="single-restaurant-text">{{model.restaurant.foodType}}</span>

                {{#if model.currentUser}}
                    <span class="single-restaurant-rate-button">
                        <button type="button" class="btn-block btn single-restaurant-rate-button" data-toggle="modal" data-target="#insertComment">{{fa-icon "star" class="highlighted-star"}} Rate this place</button>
                    </span>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<div id="insertComment" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <div class="container rating-modal">
            <div class="row">
                <div class="col">
                    <h4 class="modal-title rating-modal-header">Rate this place</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="modal-rating-star">
                        {{fa-icon "star" class=starOne click=(action "oneStar") size=2}}
                        {{fa-icon "star" class=starTwo click=(action "twoStar") size=2}}
                        {{fa-icon "star" class=starThree click=(action "threeStar") size=2}}
                        {{fa-icon "star" class=starFour click=(action "fourStar") size=2}}
                        {{fa-icon "star" class=starFive click=(action "fiveStar") size=2}}
                    </span>
                    
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    {{textarea class="rating-modal-textarea" value=userComment placeholder="Write a review" required=""}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-block rating-modal-save" data-dismiss="modal" {{action 'sendReview' model.currentUser model.restaurant}}>Save</button>
                </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <ul class="single-restaurant-links">
                <li><a id="reservation" href="#reservation">Reservation</a></li>
                <li><a id="about" href="#about">About</a></li>
                <li><a id="menu" href="#menu">Menu</a></li>
                <li><a id="photos" href="#photos">Photos</a></li>
          </ul>
        </div>
        
        <div class="col-sm-9">
            <div class="container-fluid single-restaurant-content">
                <div id="reservation" class="row single-restaurant-reservation single-restaurant-content-box">
                    <div class="col-sm-6">
                        <p class="single-restaurant-content-label">Make a free reservation</p>
                    </div>
                    <div class="col-sm-6">
                        <span class="booked-x-times-label">Booked 72 times today</span>
                    </div>
                    <div class="search-bar-container">
                        {{search-bar loading=findingTable findTableAction="findTable" restaurantId=model.restaurant.id}}
                    </div>
                    <div class="found-tables">
                        {{#if foundTables}}
                            <p class="found-tables-label">Availability on {{selectedDate}} around {{selectedTime}} for {{selectedPeople}}: </p>
                            <div>
                                <i class="fa fa-info-circle" aria-hidden="true"></i> <span class="tables-left-label">{{foundTables.tablesLeft}} tables left</span>
                            </div>
                            <p class="found-tables-label">Select the best time that fits you:</p>
                            <div>
                                {{#each foundTables.bestTime as |time|}}
                                    <button class="reservation-time-button" {{action "makeReservation" time foundTables.idRestaurant}}>{{time}}</button>
                                {{/each}}
                            </div>
                            
                        {{/if}}
                    </div>
                </div>

                <div id="about" class="row single-restaurant-about single-restaurant-content-box">
                    <div class="col-sm-12">
                        <p class="single-restaurant-content-label">About {{model.restaurant.restaurantName}}</p>

                        <br>
                        <div class="map">

                        </div>

                        <p class="single-restaurant-description-label">Description: </p>

                        <div class="single-restaurant-description">
                            {{model.restaurant.description}}
                        </div>


                    </div>
                    
                </div>

                <div id="menu" class="row single-restaurant-menu single-restaurant-content-box">
                    <div class="col-sm-12">
                        <span class="single-restaurant-content-label">Menu:</span>
                        <ul class="nav nav-pills single-restaurant-nav-pills" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#breakfast" role="tab">Breakfast</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#lunch" role="tab">Lunch</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#dinner" role="tab">Dinner</a>
                            </li>
                        </ul>
                        <br>
                        <hr>
                        <div class="tab-content">
                            <div id="breakfast" role="tabpanel" class="tab-pane fade show active">
                                {{#if model.breakfast}}
                                    {{#each model.breakfast as |meal|}}
                                        <p>{{meal.name}} ${{meal.price}}</p>
                                        <p>{{meal.description}}</p>
                                    {{/each}}
                                {{/if}}
                            </div>

                            <div id="lunch" role="tabpanel" class="tab-pane fade">
                                {{#if model.lunch}}
                                    {{#each model.lunch as |meal|}}
                                        <p>{{meal.name}} ${{meal.price}}</p>
                                        <p>{{meal.description}}</p>
                                    {{/each}}
                                {{/if}}
                            </div>

                            <div id="dinner" role="tabpanel" class="tab-pane fade">
                                {{#if model.dinner}}
                                    {{#each model.dinner as |meal|}}
                                        <p>{{meal.name}} ${{meal.price}}</p>
                                        <p>{{meal.description}}</p>
                                    {{/each}}
                                {{/if}}
                            </div>

                        </div>
                   
                    </div>
                </div>

                <div id="photos" class="row single-restaurant-photos single-restaurant-content-box">
                    <div class="col-sm-6">
                        <p class="single-restaurant-content-label">Restaurants Photo</p>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</div>


{{outlet}}