<div class="container">
    <div class="row">
        <ul class="nav nav-tabs add-restaurant-tabs" role="tablist">
            <li class="nav-item">
                <a class="active" data-toggle="tab" href="#basicdetails" role="tab">Basic Details</a>
            </li>
            <li class="nav-item">
                <a class="" data-toggle="tab" href="#menu" role="tab">Menu</a>
            </li>
            <li class="nav-item">
                <a class="" data-toggle="tab" href="#tables" role="tab">Tables</a>
            </li>
        </ul>
    </div>


    <div class="tab-content row add-restaurant-content">
        <div class="tab-pane active" id="basicdetails" role="tabpanel">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="add-restaurant-section-title">
                            Add Logo
                        </div>

                        <div class="restaurant-input-box restaurant-logo-box">
                             {{file-upload id="logo-upload-input" url="/api/v1/admin/uploadPhoto" uploadFor="logo" returnPath="setLogoPath"}}
                            <label for="logo-upload-input">
                                {{#if logoPath}}
                                    <img src="{{logoPath}}" alt="restaurant logo">
                                {{else}}
                                    {{fa-icon class="fa fa-cloud-upload fa-3x center-self" aria-hidden="true"}}
                                {{/if}}
                                
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 add-restaurant-section-title">
                        <div class="add-restaurant-section-title">
                            Add Cover Photo
                        </div>

                        <div class="restaurant-input-box restaurant-cover-box">
                            {{file-upload id="cover-upload-input" url="/api/v1/admin/uploadPhoto" uploadFor="cover" returnPath="setCoverPath"}}
                            <label for="cover-upload-input">
                                {{#if coverPath}}
                                    <img src="{{coverPath}}" alt="restaurant cover">
                                {{else}} 
                                    {{fa-icon class="fa fa-cloud-upload fa-3x center-self" aria-hidden="true"}}
                                {{/if}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="add-restaurant-section-title">
                            Name
                        </div>
                        <div class="restaurant-input-box">
                            {{input class="restaurant-name-input" type="text" value=restaurantName}}
                        </div>
                    </div>
                    <div class="col-md-3 add-restaurant-category">
                        <div class="add-restaurant-section-title">
                            Category
                        </div>
                        <div class="restaurant-input-box">
                            <select multiple class="form-control" onchange={{action "selectCuisine" value="target"}}>
                                {{#each model.restaurantCategories as |category|}}
                                    <option value={{category.id}}>{{category.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="add-restaurant-section-title">
                            Price range
                        </div>
                        <div class="restaurant-input-box">
                            <select class="form-control select-restaurant-location" onchange={{action "selectPriceRange" value="target.value"}}>
                                
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="add-restaurant-section-title">
                            Location
                        </div>
                        <div class="restaurant-input-box">
                            <select class="form-control select-restaurant-location" onchange={{action "selectLocation" value="target.value" }}>
                                <option value="" disabled selected>Select location</option>
                                {{#each model.locations as |location|}}
                                <option value="{{location.id}}">{{location.city}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="add-restaurant-section-title">
                            Description
                        </div>
                        {{textarea class="restaurant-descriptio-input" value=restaurantDescription}}
                        
                    </div>
                    <div class="col-md-6">
                        {{google-maps isAdmin=true marker=marker}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                
                    </div>
                    <div class="col-md-6">
                        <button class="add-restaurant-button background-orange-pink" {{action "addRestaurant"}}>
                            Add Restaurant
                        </button>
                        <button class="add-restaurant-button">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="menu" role="tabpanel">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <input class="select-menu-type" value="Breakfast" type="radio" checked=true name="mealType" id="breakfastmeal">
                        <label for="breakfastmeal">Breakfast</label>
                        
                        <input class="select-menu-type" value="Lunch" type="radio" name="mealType" id="lunchmeal">
                        <label for="lunchmeal">Lunch</label>
                        
                        <input class="select-menu-type" type="radio" value="Dinner" name="mealType" id="dinnermeal">
                        <label for="dinnermeal">Dinner</label>

                    </div>
                    <div class="col-6">
                        <button class="add-restaurant-add-item" {{action "newMenuItem"}}>Add new item</button>
                    </div>
                </div>
                {{#each (loop numberOfNewMenuItems) as |item index|}}
                    {{menu-item index=(adition-helper index 1) dataUpdate="editMenuItem" dataDelete="deleteMenuItem" onfocus="gotFocus"}}
                {{/each}}
                <div class="row">
                    <div class="col-md-6">
                
                    </div>
                    <div class="col-md-6">
                        <button class="add-restaurant-button background-orange-pink" {{action "addRestaurant"}}>
                            Add Restaurant
                        </button>
                        <button class="add-restaurant-button">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="gallery" role="tabpanel">
            Gallery
        </div>

        <div class="tab-pane" id="tables" role="tabpanel">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="add-restaurant-section-title add-restaurant-tables-title">
                            Tables
                        </div>
                    </div>
                    <div class="col-6">
                        <button class="add-restaurant-add-item" {{action "newTableItem"}}>Add new item</button>
                    </div>
                </div>

                
                    {{#each (loop numberOfNewTableItems) as |item index|}}
                        {{table-item index=(adition-helper index 1) dataUpdate="editTableItem"}}

                    {{/each}}

                
                <div class="row">
                    <div class="col-md-6">
                
                    </div>
                    <div class="col-md-6">
                        <button class="add-restaurant-button background-orange-pink" {{action "addRestaurant"}}>
                            Add Restaurant
                        </button>
                        <button class="add-restaurant-button">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>